<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><h:outputText value="#{language.titulo}" /></title>
        <link rel="stylesheet" type="text/css" href="estilo.css"/>
    </h:head>
    <h:body>
            <f:view>
             <div id="central">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img alt="img" src="fn.jpg"></img><br></br>
                <h:form>
                    <h:outputLabel value="#{language.texto}" for="name" />                    
                    <h:outputLabel value="#{language.msg}"/><br></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h:commandButton value="Ingl&ecirc;s" action="#{controleLocal.englishLocale}" />
                    &nbsp;&nbsp;
                    <h:commandButton value="Portugu&ecirc;s" action="#{controleLocal.portugueseLocale()}" />

                </h:form>
              </div>
            </f:view>
        </h:body>
</html>

